In [1]:
import itertools

import pandas as pd
import numpy as np

In [14]:
def run_election(votes, weights=None):
    if weights is None:
        weights = list(range(len(votes), 0, -1))
    if len(weights) != len(votes):
        raise ValueError('Votes and weights length are different')
    n = sum(weights)
    c = sum((v * w) for (v, w) in zip(votes, weights))
    return c, c > (n / 2)

In [15]:
examples = list(itertools.product([0,1], [0,1], [0,1], [0,1]))
df = pd.DataFrame(examples, columns=['3s', '1m', '5m', '10m'])
df.head()

   3s  1m  5m  10m
0   0   0   0    0
1   0   0   0    1
2   0   0   1    0
3   0   0   1    1
4   0   1   0    0

In [16]:
elections = [run_election(example) for example in examples]
df['count'] = [election[0] for election in elections]
df['result'] = [election[1] for election in elections]
df

    3s  1m  5m  10m  count  result
0    0   0   0    0      0   False
1    0   0   0    1      1   False
2    0   0   1    0      2   False
3    0   0   1    1      3   False
4    0   1   0    0      3   False
5    0   1   0    1      4   False
6    0   1   1    0      5   False
7    0   1   1    1      6    True
8    1   0   0    0      4   False
9    1   0   0    1      5   False
10   1   0   1    0      6    True
11   1   0   1    1      7    True
12   1   1   0    0      7    True
13   1   1   0    1      8    True
14   1   1   1    0      9    True
15   1   1   1    1     10    True